{% extends 'templates/common.twig' %}

{% block content %}

<main role="main">
    <div class="row justify-content-center">
        <div class="col-9">
            <table class="table mt-3">
                <thead class="thead bg-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Content-Length</th>
                        <th scope="col">Response Code</th>
                    </tr>
                </thead>
                <tbody>           
                    {% for domain in domains %}
                        <tr>
                            <th scope="row">{{ domain.id }}</th>
                            <td><a href="{{ route('domains.show', {"id": domain.id}) }}">{{ domain.name }}</a></td>
                            <td>{{ domain.content_length }}</td>
                            <td>{{ domain.response_code }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ domains.links | raw }}
        </div>
    </div>
</main>

{% endblock %}
