{% extends 'templates/common.twig' %}

{% block content %}

<main role="main">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card mt-3">
                <div class="card-header text-white bg-primary">{{ domain.name }}</div>
                <div class="card-body">
                    <p class="card-text">id: {{ domain.id }}</p>
                    <p class="card-text">Content-Length: {{ domain.content_length }}</p>
                    <p class="card-text">Response Code: {{ domain.response_code }}</p>
                    <p class="card-text">Header: {{ domain.header }}</p>
                    <p class="card-text">Keywords: {{ domain.keywords }}</p>
                    <p class="card-text">Description: {{ domain.description }}</p>
                    <p class="card-text">Created at: {{ domain.created_at }}</p>
                    <p class="card-text">Updated at: {{ domain.updated_at }}</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
